@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveOutBottom {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(3rem); } }

@keyframes comeTowards {
  0% {
    transform: scale(0.2); }
  100% {
    transfrom: scale(1); } }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #006df0; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* fix shaking */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* 
        animation-dealy: 3s;
        animation-iteration-count: 3;
         */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    /* this is what this means 
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.left {
  float: left; }

.right {
  float: right; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #006df0;
  color: #fff; }
  .btn--green::after {
    background-color: #006df0; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .30s;
  animation-fill-mode: backwards;
  /* sets the 0% positon as defeault postion */ }

.btn__content-text {
  float: right;
  padding-top: .3rem;
  font-weight: 900; }

.btn--primary {
  color: #006df0;
  background-color: #fff;
  border: 2px solid #006df0; }

.btn__icon {
  width: 3rem;
  height: 3rem;
  margin-right: .9rem;
  float: left; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #006df0;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #006df0;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #006df0;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-submit {
  background-color: #fff;
  border: none;
  color: #006df0;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  width: 90%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-submit:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn-submit:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn-submit:active, .btn-submit:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-submit__text {
    float: left;
    padding-top: 1.4rem;
    margin-left: 2.4rem;
    font-weight: 900; }
  .btn-submit__icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1.6rem;
    float: left; }

.btn__float, .btn__float:link, .btn__float:visited {
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: all .2s; }

.btn__float:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn__float:active, .btn__float:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn__float--small, .btn__float--small:link, .btn__float--small:visited {
  height: 5rem;
  width: 5rem;
  padding: .8rem .8rem; }

.btn__float--small img {
  height: 3rem;
  width: 3rem; }

.btn__float--medium, .btn__float--medium:link, .btn__float--medium:visited {
  height: 7rem;
  width: 7rem;
  padding: 1rem 1rem; }

.btn__float--medium img {
  height: 4rem;
  width: 4rem; }

.btn-submit-inline {
  background-color: #fff;
  border: none;
  color: #006df0;
  border-radius: 50%;
  font-size: 1.6rem;
  margin-left: .5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .btn-submit-inline:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-submit-inline:active, .btn-submit-inline:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-submit-inline__text {
    float: left;
    padding-top: 1.4rem;
    margin-left: 2.4rem;
    font-weight: 900; }
  .btn-submit-inline--small {
    height: 5rem;
    width: 5rem; }
    .btn-submit-inline--small img {
      width: 3rem;
      height: 3rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
      background-blend-mode: screen; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
      background-blend-mode: screen; }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
      background-blend-mode: screen; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading--span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading--span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading--span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: lowercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.form__group {
  margin-left: 2rem;
  position: relative; }

.form__group-inline {
  margin: .5rem; }

.form__group:not(:last-child) {
  margin-bottom: .5rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 1px solid lightblue;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #006df0; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #006df0; }
  .form__input::-webkit-input-placeholder {
    color: lightblue; }
  .form__input-icon, .form__input-icon:link, .form__input-icon:visited {
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    left: -2px;
    top: 13px;
    transition: all .2s; }
  .form__input-icon img {
    height: 2rem;
    width: 2rem; }
  .form__input-icon:hover {
    transform: scale(1.2); }
  .form__input-icon:active, .form__input-icon:focus {
    transform: scale(1); }

.form__input-inline {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 1px solid lightblue;
  display: inline-block;
  transition: all .3s; }
  .form__input-inline:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #006df0; }
  .form__input-inline:focus:invalid {
    border-bottom: 3px solid #006df0; }
  .form__input-inline::-webkit-input-placeholder {
    color: lightblue; }

.form__label {
  visibility: hidden; }

.loader {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }
  .loader__small {
    margin-left: .5rem;
    margin-right: .5rem;
    width: 3rem;
    height: 3rem; }
  .loader__large {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    width: 15rem;
    height: 15rem; }

.chrome-ext__body {
  height: 55rem;
  width: 35rem;
  border: 0.2rem solid #006df0; }

.chrome-ext__header {
  color: #006df0;
  font-family: 'Baumans', cursive;
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: .5rem;
  text-transform: uppercase; }

.footer-nav {
  text-align: center; }

.footer a {
  margin: 1rem; }

.login {
  text-align: center; }
  .login__logo-box {
    margin-bottom: 2rem; }
  .login__logo {
    width: 100%;
    height: 26rem; }

.dock__view {
  margin-top: 1.4rem; }

.dock__heading {
  font-size: 2.2rem;
  font-weight: 500;
  color: #000;
  margin: 1.2rem 1.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: underline #006df0;
  text-overflow: ellipsis;
  cursor: pointer; }

.dock__header {
  height: 5rem;
  box-shadow: 0 0 10px grey; }
  .dock__header-title {
    color: #006df0;
    margin-top: .8rem;
    letter-spacing: .5rem;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Baumans', cursive; }
  .dock__header-icon-logo {
    height: 3rem;
    width: 3rem;
    margin: .8rem 1rem; }
  .dock__header-icon-logout {
    height: 2.5rem;
    border-radius: 50%;
    width: 2.5rem;
    margin: 1.2rem 1rem;
    transition: all .2s; }
    .dock__header-icon-logout:hover {
      transform: translateY(-0.4rem); }
    .dock__header-icon-logout:active, .dock__header-icon-logout:focus {
      transform: translateY(0); }

.dock__form {
  margin-top: 1.2rem; }

.dock__name {
  margin-left: .8rem;
  border-bottom: 3px solid #006df0;
  color: black;
  cursor: pointer; }

.dock-create__form {
  margin: 2rem 1.6rem; }

.dock__list {
  margin-left: 1.6rem;
  overflow: hidden;
  overflow-y: auto;
  height: 30.2rem; }
  .dock__list-webpage {
    height: 33rem; }
  .dock__list-icon {
    margin-left: .5rem;
    margin-right: .5rem;
    width: 3rem;
    height: 3rem;
    transition: all .2s; }
    .dock__list-icon:hover {
      transform: translateY(-2px) scale(1.1); }
    .dock__list-icon:active, .dock__list-icon:focus {
      transform: translateY(0) scale(1); }

.dock__card {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  color: #000;
  width: 90%;
  min-height: 6rem;
  box-shadow: 2px 2px 5px skyblue;
  transition: all .2s; }
  .dock__card:hover {
    transform: translateY(-2px);
    box-shadow: 1rem 1rem 2rem skyblue; }
  .dock__card:focus, .dock__card:active {
    transform: translateY(0);
    box-shadow: 2px 2px 5px skyblue; }
  .dock__card p {
    margin-top: .5rem;
    max-width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap; }
  .dock__card-webpage {
    height: 8rem; }
    .dock__card-webpage p {
      max-width: 20rem; }
    .dock__card-webpage a {
      cursor: pointer;
      transition: all .2s; }
      .dock__card-webpage a:active, .dock__card-webpage a:focus {
        transform: translate(0) scale(1); }
      .dock__card-webpage a:hover {
        transform: translate(-1px) scale(1.1); }

.dock__success {
  text-align: center;
  height: 65%;
  margin-top: 3rem; }
  .dock__success-box {
    margin-bottom: 2rem; }
  .dock__success-logo {
    width: 100%;
    height: 25rem;
    animation: comeTowards 1s linear; }
  .dock__success-message {
    color: #006df0;
    font-size: 4rem;
    animation: moveInBottom 5s ease-out .3s; }

.dock__message {
  text-align: center;
  height: 20rem;
  margin-top: 10rem; }
  .dock__message-main {
    font-weight: 500;
    font-size: 4rem;
    color: #006df0; }
  .dock__message-secondary {
    font-size: 1.6rem;
    font-weight: 500;
    color: grey; }

.dock__loading {
  text-align: center;
  height: 30rem; }

.menu {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 5rem); }
  .menu__item {
    display: inline-block;
    margin: 1rem;
    text-align: center;
    height: 9rem;
    width: 9rem;
    padding: 1rem; }
    .menu__item-name {
      display: block;
      color: #006df0;
      font-size: 1.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
